<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="UTF-8">
        <meta content="origin" name="referrer" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="keywords" content="arthaud, proust, chat, bordeaux, developpeur">
        <meta name="description" content="Enfin des salons de discussion privés, conversez à plusieur sans vous faire espionner" />
        <meta name="author" content="Arthaud Proust">
        <meta name="subject" content="discussion">
        <meta name="language" content="FR">
        <meta name="url" content="https://chat.arthaud.dev" />
        <meta name="identifier-URL" content="https://chat.arthaud.dev">
        <meta name="owner" content="Arthaud Proust">
        <meta name="target" content="all">
        <meta name="robots" content="all" />
        <meta name="theme-color" content="#fff">

     <!-- Open graph Meta -->
        <meta property="og:title" content="Salon de discussion" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Enfin des salons de discussion privés, conversez à plusieur sans vous faire espionner" />
        <meta property="og:site_name" content="Salon de discussion" />
        <meta property="og:url" content="https://chat.arthaud.dev" />
        <meta property="og:locale" content="fr_FR" />
        <meta property="og:image" content="https://chat.arthaud.dev/img/icon.png"/>
        

        <!-- Twitter Meta Card -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="https://chat.arthaud.dev" />
        <meta name="twitter:title" content="Salon de discussion" />
        <meta name="twitter:description" content="Enfin des salons de discussion privés, conversez à plusieur sans vous faire espionner" />


           <!-- Apple meta -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#fff" />
        <meta name="apple-mobile-web-app-title" content="Salon de discussion" />
        <link rel="apple-touch-icon" href="/img/apple/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/img/apple/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/img/apple/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/img/apple/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/img/apple/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/img/apple/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/img/apple/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/img/apple/apple-touch-icon-152x152.png" />
        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple/apple-touch-icon-180x180.png" />
    

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Télécharger l'application</title>
        <script src="jquery.min.js"></script>
        <script src="axios.min.js"></script>
        <script src="chat.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="master.css" media="screen and (min-width:900px)">
        <link rel="stylesheet" href="mobile.css" media="screen and (max-width:899px)">
    </head>
    <body>
        <div class="popup"  >
            <h1>Télécharger l'application</h1>
            <a href="/download-android" class="download" id="android">Installateur pour Android</a>
            <span>Bientot disponible sur IOS</span>
            <!-- <a href="/download-ios" class="download" id="ios">Package pour IOS</a> -->
        </div>
    </body>
</html>