body {
    position: relative;
    padding: 0;
    margin: 0;
    display: flex;
    -o-display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    flex-direction: column;
    -o-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #ffffff;
    font-family: 'Inter', sans-serif;
}

* {font-family: 'Inter', sans-serif;}
a {text-decoration: none; cursor: pointer; color:#0079ca}


input {
    padding: 10px 15px;
    margin: 2.5px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
}
input[type='text'] {
    padding: 10px 10px;
    border: 0.5px solid #818181;
    font-weight: 300;
}
input[type='text']:focus {
    border: 0.5px solid #000 !important;
    outline:0;
}
input[type='button'] {
    cursor: pointer;
    background: #DDD;
}
input[type='button']:focus {
    outline:0;
}

.footer {
    position: absolute;
    bottom: 20px;
}

#chooseName {
    z-index: 1001;
}
.popup {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    -o-display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    flex-direction: column;
    -o-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #ffffff;
    z-index: 1000;
}

#chooseName p, #chooseRoom p {
    text-align: center;
}

#chooseName #name, #chooseRoom #room {
    width: 50%;
}

#session {
    position: relative;
    height: 5%;
    width: 100%;
    display: flex;
    -o-display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    box-sizing: border-box;
    padding: 0 10px;
    flex-direction: column;
    -o-flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color:#818181;
    font-size: 0.8rem;
}
#sessionName {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#sessionName b{
    -moz-user-select: all;
    -webkit-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
#sessionExit {
    position: absolute;
    top: 8px;
    left: 15px;
    color:#818181;
}
#sessionExit svg{
    height: 20px;
    width: 20px;
}


#messages {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 85%;
    display: flex;
    -o-display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    flex-direction: column;
    -o-flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    align-items: stretch;
    background: #FBFBFB00;
    overflow-y: scroll;
}
#messages #container {
    display: flex;
    -o-display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    flex-direction: column;
    -o-flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    align-items: flex-start;
    max-width: 900px;
    height: auto;
}

.message {
    position: relative;
    border-radius: 20px;
    padding: 12px 20px;
    margin: 5px;
    background: #FCFCFC;
    width: auto;
    max-width: 70%;
}
.message.me {
    align-self: flex-end;
    background: #F6F6F6;
}
.message .author {
    font-size: 1rem;
    font-weight: 600;
    display: block;
    padding-bottom: 5px;
}
.message .content {
    font-size: 1.1rem;
    font-weight: 300;
    display: block;
}
.message .time {
    display: none;
}
.message[showtime="true"] {
    margin-bottom: 20px;
}
.message[showtime="true"] .time {
    display: inline;
    position: absolute;
    bottom: -17px;
    font-size: 0.8rem;
}
.message.me[showtime="true"] .time {
    right: 20px;
}

#form {
    height: 10%;
    width: 100%;
    position: relative;
    display: flex;
    -o-display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    flex-direction: row;
    -o-flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 10px ;
    box-sizing: border-box;
    background: none;
}


#form #msg {
    width: 70%;
    border:none;
    background: #F9F9F9;
    border: 0.5px transparent #818181 !important;
}
#form #msg:focus {
    border: 0.5px solid #818181 !important;
    outline:0;
}
#form #sendMsg {
    background: #73C16E;
    color: #F6F6F6;
    font-weight: 200;
    width: 30%
}